<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles/style.css" />
    <script src="/js/index.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- Ajouter un parapgraphe qui donne le nom du créateur de l'application dynamiquement -->
  </body>
</html>
